<div class="sideNavContainer">
  <div class="row-item">
    <div class="number">1</div>
    <a class="nav-link" routerLink="definition">DEFINITION</a>
  </div>
  <span [style]="disable">
    <div class="row-item">
      <div [style.background]="bgColor" class="number">2</div>
      <a [style.color]="fontColor" class="nav-link" routerLink="chooseProducts"
        >CHOOSE PRODUCTS</a
      >
    </div>
    <div class="row-item">
      <div [style.background]="bgColor" class="number">3</div>
      <a [style.color]="fontColor" class="nav-link" routerLink="excludeProducts"
        >EXLUDE PRODUCTS</a
      >
    </div>
    <div class="row-item">
      <div [style.background]="bgColor" class="number">4</div>
      <a [style.color]="fontColor" class="nav-link" routerLink="bonusProducts"
        >BONUS PRODUCTS</a
      >
      <span class="tooltipStyle marginLeft" [tooltip]="'Lorem ipsum'">i</span>
    </div>
    <div class="row-item">
      <div [style.background]="bgColor" class="number">5</div>
      <a [style.color]="fontColor" class="nav-link" routerLink="productsLimits"
        >PRODUCTS LIMITS</a
      >
      <span class="tooltipStyle marginLeft42" [tooltip]="'Lorem ipsum'">i</span>
    </div>
    <div class="row-item">
      <div [style.background]="bgColor" class="number">6</div>
      <a [style.color]="fontColor" class="nav-link" routerLink="chooseClients"
        >CHOOSE CLIENTS</a
      >
    </div>
    <div class="row-item">
      <div [style.background]="bgColor" class="number">7</div>
      <a [style.color]="fontColor" class="nav-link" routerLink="excludeClients"
        >EXCLUDE CLIENTS</a
      >
    </div>
    <div class="row-item">
      <div [style.background]="bgColor" class="number">8</div>
      <a [style.color]="fontColor" class="nav-link" routerLink="clientsLimits"
        >CLIENTS LIMITS</a
      >
    </div>
    <div class="row-item">
      <div [style.background]="bgColor" class="number">9</div>
      <a [style.color]="fontColor" class="nav-link" routerLink="summary"
        >SUMMARY</a
      >
    </div>
  </span>
</div>
